# Dependencies
node_modules/
*.lock

# Build outputs
dist/
build/
.next/
out/
coverage/
tsconfig.tsbuildinfo

# Drizzle
packages/db/drizzle/meta/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
.private/